cabal-dev
cabal.project.local
cabal.project.local~
.cabal-sandbox/
cabal.sandbox.config
*.chi
*.chs.h
dist
dist-*
/docker-image
*.dyn_hi
*.dyn_o
*.eventlog
/gen/stack.yaml.lock
.ghc.environment.*
*.hi
*.hie
*.hp
.hpc
.hsenv
.HTF/
*.o
*.orig
/.pre-commit-config.yaml
*.prof
/shell.nix
.stack-work/
.stack-work*.aux
/target
